<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hogwarts</title>
  <link href="http://fonts.cdnfonts.com/css/harry-potter" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">  
  

<style>
  body {
    background-image: url("http://i.imgur.com/eVzOF6a.gif");
    background-repeat: no-repeat;
    background-size:2500px;
    } 

  .btnDass {
  background-color: #222;
  color: #fff;
  font-family: 'Harry Potter',sans-serif;
  font-size: 60px;
  border-radius: 30px;
  padding: 10px 10px 1px 10px;
  margin-right: 1.5em;
  margin-left: 1.2em;
  margin-top: 8em;
}
  .hide {
    display: none;
    visibility: none;
  }
  .blob {
    width:800px;
    height: 800px;
    color:purple
  }
 /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;} /* End https://www.cursors-4u.com */
</style>
</head>
<body>
  <div class="wrapper">
    <header class="hide blob">
      
        {{#if loggedIn}}
        <button class = "btnDass"onclick="window.location.href='/dashboard'">Dashboard</button>
        <button class ="btnDass" onclick="window.location.href='/api/quiz'">Quiz</button>
        <button class = "btnDass"onclick="window.location.href='/api/spells'">Spells</button>
        <button class = "btnDass"onclick="window.location.href='/api/wizards'">Wizards</button>
        <button id="logout" class="btnDass">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>
