<Style>
     h1 {
      font-family: 'Harry Potter', sans-serif;
      color: #607d8b;
      font-size: 7em;
      margin-left: 4.8em;
      margin-top: 3.5em;
      font-weight: 100;
      text-shadow: 2px 2px 2px whitesmoke;
    }
</Style>




<h1>Hogwarts Library</h1>