{{!-- <section class="hero"> --}}
  <!DOCTYPE>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.cdnfonts.com/css/harry-potter" rel="stylesheet">
    <style>
      body {
        background-image: url("https://pavbca.com/walldb/original/2/6/7/247242.jpg");
        background-repeat: no-repeat;
        background-size:cover;
      }
      @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%, 100% {
    opacity: 1;
  }
  15%, 85% {
    opacity: 0; 
  }
}

input, textarea {
  color: white;
}

#dumbledore, {
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.quote, .fakebtn{
  color:whitesmoke; 
  font-family: 'Harry Potter', sans-serif;
  opacity: 0;
  animation: fadeIn 3s; 
  animation-fill-mode: forwards; 
  }
  
  .quote {
    font-size: 6rem;
  }

  #part1 {
    padding-top: 2em;
    padding-left: 3em;
    margin: 0 0 .4em 0;
  }

  #part2 {
    padding-left: 4em;
    margin: 0 0 .4em 0;
  }

  #part3 {
    padding-left: 4.5em;
    margin: 0 0 0 0;
    
  }
#part2.quote {
  animation-delay: 2s; 
}

.fakebtn {
border-radius: 15px;
}

#part3.quote {
  animation-delay: 3s; 
}

#fakebtn1 {
  animation-delay: 4s;
  margin-left: 19em;
  margin-top: 1em;
}

#fakebtn2 {
  animation-delay: 4s;
}

#email-login {
  width: 20%;
  margin-left: 20em;
  border-color: #282828;
  border-radius: 15px;
  outline:none;

}

#password-login {
  width: 20%;
  margin-left: 20em;
  border-color: #282828;
  border-radius: 15px;
  outline:none;
}

.realbtn {
  border-radius: 15px;
   margin-left: 23.2em;
  color:whitesmoke; 
  font-family: 'Harry Potter', sans-serif;
  padding: 10px;
  position:absolute;
  bottom:1.6em ;
}

#username-signup {
  width: 20%;
  margin-left: 20em;
  border-color: #282828;
  border-radius: 15px;
  outline:none;
}

#email-signup {
   width: 20%;
  margin-left: 20em;
  border-color: #282828;
  border-radius: 15px;
  outline:none;
}

#password-signup {
   width: 20%;
  margin-left: 20em;
  border-color: #282828;
  border-radius: 15px;
  outline:none;
  margin-bottom: 0;
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;} /* End https://www.cursors-4u.com */
    </style>
  </head>
  <body>
    
  <div id="dumbledore">
    <p class="quote" id="part1">Which Hogwarts  </p>
    <p class="quote" id="part2">house do you </p>
    <p class="quote" id="part3">belong in?</p>
  </div>

     <div class="hero-content">

    <h1 class="hero-title">
      
    </h1>


    <button id="fakebtn1" class="fakebtn" onclick="myFunctionX();">LOGIN</button>
    <button id="fakebtn2" class="fakebtn" onclick="myFunctionY();">SIGNUP</button>

  </div>

{{!-- </section> --}}


<div>
<form class="login-form hide" id="xyz">
  <div class="div1 field-wrap">
    <label for="email-login"></label>
    <input type="text" id="email-login" placeholder="Email:" />
  </div>
  
  <div class="div2 field-wrap">
    <label for="password-login"></label>
    <input type="password" id="password-login" placeholder="Password:" />
  </div>
  <div class="div3">
    <button class="realbtn" type="submit">Login</button>
  </div>
</form>

<form class="signup-form hide2" id="xyz2">
  <div class="div4 field-wrap">
    <label for="username-signup"></label>
    <input type="text" id="username-signup" placeholder="Username:" />
  </div>
  <div class="div5 field-wrap">
    <label for="email-signup"></label>
    <input type="text" id="email-signup" placeholder="Email:" />
  </div>
  <div class="div6 field-wrap">
    <label for="password-signup"></label>
    <input type="password" id="password-signup" placeholder="Password:" />
  </div>
  <div class="div7">
    <button class="realbtn" type="submit">Signup</button>
  </div>
</form>
</div>
<script src="/javascript/login.js"></script>

  </body>
  </html>

 