<button id="fakebtn1" class="fakebtn" onclick="myFunctionX();">LOGIN</button>

<button id="fakebtn2" class="fakebtn" onclick="myFunctionY();">SIGNUP</button>

<div>
<form class="login-form hide" id="xyz">
  <div class="div1 field-wrap">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  
  <div class="div2 field-wrap">
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div class="div3">
    <button class="realbtn" type="submit">Login</button>
  </div>
</form>

<form class="signup-form hide2" id="xyz2">
  <div class="div4 field-wrap">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="div5 field-wrap">
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="div6 field-wrap">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="div7">
    <button class="realbtn" type="submit">Signup</button>
  </div>
</form>
</div>
<script src="/javascript/login.js"></script>
