<h1>Hogwarts School of Witchcraft and Wizardry House Selection Quiz</h1>
<style>
    body {
        color: white;
    }
</style>

<button href="../quiz/test.html">hello click please :)</button>

<a href="../quiz/test.html">hello clicko pleaso</a>