<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

 body {
  font-family: 'Comfortaa', sans-serif;
    background: #111;
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    text-align: center;
}


h1 {
  font-size: 60px;
    font-family:  'Harry Potter', sans-serif;
    margin: 2em 0 .2em;
  padding-bottom: 1em;

}

h3 {
  font-size: 20px;
    font-family:  'Cinzel';
}

main {
    margin: 4em auto 8em;
    max-width: 600px;
  justify-content: space-between;


}

.spell-card {
    background:#111e27 ;
    padding: 10px;
    margin: 2em;
    border-radius: 20px;
    box-shadow: 0 0 0 14px #f6f9fb;
    text-align: center;
}
iframe {
  border-radius: 15px;
  max-width: 900px;
}
</style>
</head>
<body>
  <h1>Harry Potter Spells</h1>
  <iframe src="https://giphy.com/embed/xT5LMxGzbgJkUZjdte" width="480" height="208" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/harry-potter-magic-spells-xT5LMxGzbgJkUZjdte%22%3E</a></p>
  {{#each spells}}
<main>
    <div class="spell-card">
        <div class="spell-cardinner">
            <div class="spell-cardshape">
            </div>
            <div class="spell-card__name">
                <h2>{{spell_name}}:</h2>
                <h3>Type of Spell:</h3>{{spell_type}}
        <h3>Spell Affect:</h3>{{spell_affect}}
            </div>
        </div>
    </div>
{{/each}}
</body>
</html>