<h1>Popular Spells!</h1>

{{#each spells}}
  
  <h3>{{spells}}</h3>
  <ul>
      <li>
          <h1>{{spell_name}}:</h1>
          <h3>Type of Spell:</h3>{{spell_type}}
          <h3>Spell Affect:</h3>{{spell_affect}},
      </li>
     
  </ul>

{{/each}}