<h1>Wizards and Witches<h1>

{{#each Wizards}}
  
  <h3>{{Wizards}}</h3>
  <ul>
      <li>
          {{first_name}}
          {{last_name}}
      </li>
      House:
     {{house.house_name}}
  </ul>

{{/each}}