<section>
  <h2>Create A Wizard or Witch</h2>
<form class="create-wizard">

  <label for="first_name"></label>
  <input type="text" id="first_name" name="first_name" placeholder="First Name"><br>

  <label for="last_name"></label>
  <input type="text" id="last_name" name="last_name" placeholder="Last Name"><br>

   <label for="houses_id"></label>
  <input type="text" id="houses_id" name="houses_id" placeholder="House ID TYPE:(1=Gryffindor, 2=Hufflepuff, 3=Ravenclaw, 4=Slytherin)"><br>


  <button type="submit" class="btn">Create Wizard/Witch</button>
</form> 
</section>



<h1>Wizards and Witches<h1>

{{#each Wizards}}
  
  <h3>{{Wizards}}</h3>
  <ul>
      <li>
          {{first_name}}
          {{last_name}}
      </li>
      House:
     {{house.house_name}}
  </ul>

{{/each}}

<script src="/javascript/create-wizard.js"></script>